.project-details-container {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-details-container h1 {
    text-align: center;
    color: #343a40;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
}

.project-details-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.project-details-container p {
    color: azure;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    margin-bottom: 10px;
}

.project-details-navigation {
    background-color: #f8f9fa;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.project-details-navigation ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
}

.project-details-navigation ul li {
    margin-right: 15px;
}

.project-details-navigation ul li a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.project-details-navigation ul li a:hover {
    color: #0056b3;
}
